<div class="container">
  <% if notice %>
    <div class="alert alert-info"> <%= notice %> </div>
  <% end %>
  <h1>Warmup match photos</h1>

  <%= form_for(Photo.new, url: warmup_match_photos_path) do |f| %>
    <div class="form-group">
      <%= f.label :picture, class: 'control-label' %><br>
      <%= f.file_field :picture %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-danger btn-block font-big' %>
    </div>
  <% end %>

  <h2 class="text-center">Photos</h1>

  <table class="table table-striped table-condensed table-hover table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Match id</th>
        <th>Photo url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= photo.id %></td>
          <td><%= photo.match_id %></td>
          <td><%= image_tag photo.picture_url, width: '70' %></td>
          <% if photo.match %>
            <td>
              <%= link_to 'Show', match_photo_path(photo.match, photo),
                    target: '_blank' %>
            </td>
            <td>
              <%= link_to 'Edit', edit_match_photo_path(photo.match, photo),
                    target: '_blank' %>
            </td>
            <td>
              <%= link_to 'Destroy', match_photo_path(photo.match, photo),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
